@charset "UTF-8";

/*[index]*/
.header {
    display: block;
}

.link {
    color: blue;
}
/*[/index]*/

/*[category]*/
.header {
    display: inline-block;
}

.link {
    color: red;
}
/*[/category]*/
